<h2><%= director.name %></h2>
<!-- EDIT -->
<a href="/directors/ù<%= director.id %>/edit">Edit</a>
<!-- DELETE -->
<%- include('../partials/deleteForm', {url : `/directors/${director.id}`}) %>
<%if(moviesByDirector.length > 0) {%>

<h2>Movies form Director</h2>
<% moviesByDirector.forEach(movie => { %>
    <a href="/movies/<%= movie.id %> ">
<img height="150" width="100" src="<%= movie.posterPath %> " />
    </a>
<% }); %> <% } %>
