<label>Title</label>
<input type="text" name="title" value="<%=movie.title %>" />
<br />
<label>Director</label>
<select name="director">
    <% directors.forEach(director => { %> <% if(director.id === movie.director){ %>
    <option selected label="<%= director.name %>" value="<%= director.id %>"></option>
    <% } else { %>
    <option label="<%= director.name %>" value="<%= director.id %>"></option>
    <% } %> <% }); %>
</select>
<br />
<label for="">Release Date</label>
<input
    type="date"
    name="releaseDate"
    value="<%=movie.realeseDate == null ? '' : movie.realeseDate.toISOString().split('T')[0]  %>"
/>
<br />
<label>Duration (min)</label>
<input type="number" min="1" name="duration" value="<%=movie.duration %>" />
<br />
<label>Poster</label>
<input type="file" name="poster" />
<br />
<label>Description</label>
<br />
<textarea name="description" cols="30" rows="10"><%= movie.description %> </textarea>
